**
!package.json
!README.md
!README.zh.md
!LICENSE
!media/bot.png
!AGENTS.md
!vscode-extension.js
!vscode_server.py
!__init__.py
!agent_web_api.py
!aider_runner.py
!completion_prompt_agent.py
!feature_runner.py
!pyproject.toml
!uv.lock
!plugins/__init__.py
!plugins/base.py
!plugins/code_completion.py
!plugins/code_repair.py
!plugins/code_summary.py
!plugins/design_to_code.py
!plugins/dispatcher.py
!plugins/knowledge_graph.py
!plugins/registry.py
!plugins/vulnerability_detection.py
!rag/c/__init__.py
!rag/c/cfile_parse.py
!rag/c/node_prompt.py
!rag/c/preprocess.py
!rag/c/utils.py
!rag/java/java_project_parser_ts.py
!rag/java/javafile_parse_ts.py
!rag/java/node_prompt_java_ts.py
!rag/visualize/__init__.py
!rag/visualize/generate_graph.py
!rag/visualize/visualize.py
!webui/dist/**
