.idea
*/.idea/*
.DS_Store
.cache
*.pyc
*.pod
*.pm
*.exc
*.db
src/test.py
/.vs
*.xml
*.o
build/*
#*.log
*.so
ncc/data/tools/data_utils_fast.cpp
ncc/data/tools/token_block_utils_fast.cpp
ncc/data/tools/token_block_utils_fast.cpython-37m-x86_64-linux-gnu.so
ncc/data/tools/data_utils_fast.cpython-37m-x86_64-linux-gnu.so
ncc/libbleu.cpython-37m-x86_64-linux-gnu.so
ncc/libnat.cpython-37m-x86_64-linux-gnu.so
predict.json

# third party big files
third_party/programl/programl/ir/llvm/internal/*.pickle
third_party/pycocoevalcap/meteor/data/paraphrase-en.gz
third_party/pycocoevalcap/meteor/meteor-1.5.jar

dist
ncc.egg-info
