/********************************************
HeatMap Continer
********************************************/

.flex-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.heatmap-tile {
  padding: 5px;
}

/********************************************
HeatMap
********************************************/

.heatmap-container {
  position: relative;
  overflow: hidden;
  border: 1px solid #e1e5ea;
}

.heatmap-container + .heatmap-container {
  border-top-width: 0;
}

/* Collapsible description */
span + .heatmap-container {
  margin-top: 15px;
}

.heatmap-container:before,
.heatmap-container:after {
  position: absolute;
  content: "";
  z-index: 99;
  width: 90px;
  height: 100%;
  top: 0;
  right: -90px;
  box-shadow: 0 0 30px 10px #f9fafb;
}

.heatmap-container:before {
  right: auto;
  left: -90px;
}

.heatmap-scroll {
  background: #fbfcfd;
  text-align: center;
  position: relative;
}

.heatmap {
  display: inline-block;
  filter: drop-shadow(0 0 40px rgba(0,0,0,0.1)) drop-shadow(0 0 1px rgba(0,0,0,0.1));
  cursor: default;
}

.heatmap__ft {
  display: table;
  margin: 30px;
}

.heatmap__tr {
  display: table-row;
}

.heatmap__td {
  display: table-cell;
}

/********************************************
Data Grid
********************************************/

.heatmap__datagrid-container {
  overflow: hidden;
}

.heatmap__datagrid-container table {
  position: relative;
  height: 100%;
  background: #fff;
}

.heatmap__datagrid-container table td {
  width: 34px;
  height: 34px;
  min-width: 34px;
  min-height: 34px;
}

.heatmap__datagrid-container table:before,
.heatmap__datagrid-container table:after {
  display: block;
  content: "";
  top: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 99;
  position: absolute;
}

.heatmap__datagrid-container table:after {
  width: 30px;
  height: 100%;
  top: 0;
  left: -30px;
}

.heatmap table {
  width: auto;
}

.heatmap table tr {
  background: transparent;
}

.heatmap table th {
  padding: 0;
  margin: 0;
  border: none;
  font-weight: normal;
}

.heatmap table th div,
.heatmap table th span {
  font-size: 16px;
  line-height: 20px;
  color: #777;
  white-space: nowrap;
}

.heatmap table th span {
  display: block;
}

table.heatmap__col-labels,
table.heatmap__row-labels {
  overflow: hidden;
}

table.heatmap__col-labels tr th.heatmap__label {
  padding: 8px 0 0 0;
  background: #fff;
  outline: 1px solid #e9e9e9;
  vertical-align: bottom;
  text-align: left;
  width: 34px;
  max-width: 34px;
  position: relative;
}

.heatmap__label__outer {
  display: table;
  text-align: left;
  margin-bottom: 10px;
}

.heatmap__label__inner {
  padding: 50% 0;
  height: 0;
  min-height: 16px;
  text-align: left;
}

table.heatmap__col-labels tr th.heatmap__label span {
  transform-origin: 7px -1px;
  transform: rotate(-90deg) translate(-100%);
  margin-top: -50%;
  white-space: nowrap;
  text-align: left;
  height: 16px;
  line-height: 16px;
}

tr.heatmap__row th.heatmap__label {
  text-align: right;
  padding: 0 8px 0 10px;
  outline: 1px solid #e9e9e9;
  background: #fff;
  height: 34px;
  position: relative;
}

tr.heatmap__row th.heatmap__label div {
  margin-bottom: 1px;
  padding: 4px 0;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.heatmap__cell {
  padding: 0;
  background: #fff;
}

.heatmap__trigger {
  position: absolute;
  width: 34px;
  height: 34px;
  margin-top: -17px;
  z-index: 999;
}

/********************************************
Slider
********************************************/
.slide_container {
  margin: 4px auto;
  width: 500px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background-image: linear-gradient(to right, rgb(211, 235, 255) , rgb(78, 172, 255));
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 10px;
  padding: 0 15px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  margin-right: 25px;
  background: rgb(50,159,255);
  cursor: pointer;
}

.slider::-moz-range-thumb,
.slider::-webkit-slider-thumb  {
  width: 25px;
  height: 25px;
  background: rgb(50,159,255);
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

/********************************************
Crosshairs
********************************************/

.heatmap__col-cursor,
.heatmap__row-cursor {
  position: absolute;
  outline: 1px solid rgba(0,0,0,0.033);
}

.heatmap__col-cursor {
  width: 34px;
  height: 100%;
  top: 0;
}

.heatmap__row-cursor {
  height: 34px;
  width: 100%;
  left: 0;
  margin-top: -17px;
}

table.heatmap__col-labels tr th.heatmap__label.heatmap__col-label-cursor,
table.heatmap__row-labels tr th.heatmap__label.heatmap__row-label-cursor {
  z-index: 999;
  border-color: #fff;
}

table.heatmap__col-labels tr th.heatmap__label.heatmap__col-label-cursor {
  box-shadow: 0 0 13px 4px rgba(0,0,0,0.08);
}

table.heatmap__row-labels tr th.heatmap__label.heatmap__row-label-cursor {
  box-shadow: 0 0 13px 4px rgba(0,0,0,0.08);
}

.heatmap table th.heatmap__col-label-cursor span,
.heatmap table th.heatmap__row-label-cursor span {
  color: #000;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

/********************************************
Tooltip
********************************************/

.heatmap-tooltip,
.heatmap-tooltip * {
  transition: none !important;
}

.heatmap-tooltip {
  box-shadow: 0 0 30px rgba(0,0,0,.2) !important;
  border-radius: 6px !important;
  background: rgba(70,70,70,.9) !important;
  padding: 8px 12px 5px 12px !important;
  font-size: 14px !important;
  opacity: 1 !important;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
  user-select: none;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heatmap-tooltip.__react_component_tooltip.type-dark.place-top:after {
  border-top-color: rgba(70,70,70,.9);
}

.heatmap-tooltip.__react_component_tooltip.type-dark.place-bottom:after {
  border-bottom-color: rgba(70,70,70,.9);
}

.heatmap-tooltip.__react_component_tooltip.type-dark.place-left:after {
  border-left-color: rgba(70,70,70,.9);
}

.heatmap-tooltip.__react_component_tooltip.type-dark.place-right {
  margin-top: 25px;
  margin-left: 12px;
}

.heatmap-tooltip.__react_component_tooltip.type-dark.place-right:after {
  border-right-color: rgba(70,70,70,.9);
  top: 12px;
  margin-top: 0;
}

.heatmap-tooltip__meta {
  font-size: 12px !important;
  display: block;
  font-weight: normal;
  color: rgba(255,255,255,0.4);
  padding: 0;
  margin: 0;
  line-height: 16px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

.heatmap-tooltip__meta:first-child {
  margin-top: 5px;
}

.heatmap-tooltip__meta strong {
  color: rgba(255,255,255,0.66);
  padding: 0;
  margin: 0;
  display: inline-block;
  min-width: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heatmap-tooltip__meta + .heatmap-tooltip__meta {
  padding-bottom: 5px;
}

/********************************************
Colors
********************************************/

/* Red */

.heatmap__datagrid-container.heatmap__datagrid-container--red table:before,
.heatmap__datagrid-container.heatmap__datagrid-container--red table:after {
  box-shadow: 0 0 9px rgba(150,20,20,.21);
}

.heatmap__datagrid-container.heatmap__datagrid-container--red .heatmap__trigger.heatmap__cursor {
  box-shadow: 0 0 43px 2px rgba(180,42,42,0.2);
}

.heatmap__datagrid-container.heatmap__datagrid-container--red .heatmap__col-cursor,
.heatmap__datagrid-container.heatmap__datagrid-container--red .heatmap__row-cursor {
  box-shadow: 0 0 13px 2px rgba(180,42,42,0.14);
}

/* Green */

.heatmap__datagrid-container.heatmap__datagrid-container--green table:before,
.heatmap__datagrid-container.heatmap__datagrid-container--green table:after {
  box-shadow: 0 0 9px rgba(37,76,20,.21);
}

.heatmap__datagrid-container.heatmap__datagrid-container--green .heatmap__trigger.heatmap__cursor {
  box-shadow: 0 0 43px 2px rgba(53,108,28,0.2);
}

.heatmap__datagrid-container.heatmap__datagrid-container--green .heatmap__col-cursor,
.heatmap__datagrid-container.heatmap__datagrid-container--green .heatmap__row-cursor {
  box-shadow: 0 0 13px 2px rgba(53,108,28,0.14);
}

/* Blue */

.heatmap__datagrid-container.heatmap__datagrid-container--blue table:before,
.heatmap__datagrid-container.heatmap__datagrid-container--blue table:after {
  box-shadow: 0 0 9px rgba(35,64,90,.21);
}

.heatmap__datagrid-container.heatmap__datagrid-container--blue .heatmap__trigger.heatmap__cursor {
  box-shadow: 0 0 43px 2px rgba(44,93,136,0.2);
}

.heatmap__datagrid-container.heatmap__datagrid-container--blue .heatmap__col-cursor,
.heatmap__datagrid-container.heatmap__datagrid-container--blue .heatmap__row-cursor {
  box-shadow: 0 0 13px 2px rgba(44,93,136,0.14);
}
